.main-container{
    max-height: calc(100vh);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    border-top-right-radius: $BRadius;
    border-bottom-right-radius: $BRadius;
    overflow: auto;
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}