$ThemeColor: hsl(36, 99%, 66%);
$DarkColor: #121212;
$TextWhite: #FFFFFF;
$TextBlack: #000000;
$BRadius: 10px;

:root {
    --text-light: #FFFFFF;
    --text-dark: #000000;
    --bg-light: #FFFFFF;
    --bg-dark: #000000;
    --white-light: #ffffffb6;
}