// @import 'antd/dist/reset.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,main {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
}

body {
  // padding: 1rem;
  // background-color: #F5F5F5;

  // .sidebar-container {
  //   min-height: calc(100vh - 2rem);
  // }

  // .main-container {
  //   max-height: calc(100vh - 2rem);
  // }
}

.mobile-view {
  height: 100%;
  width: 100%;
  background-image: url(../assets/img/mobileViewBg.jpg);
  background-size: cover;
  // background-position-y: -478px;
  background-position-y: -150%;

  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  >section.mobile-wrapper {

    position: relative;
    right: 100px;
    padding: 8px;

    background-color: #d9dee3;
    border-radius: 24px;

    &::before {
      content: "";
      position: absolute;
      width: 28%;
      height: 12px;
      background-color: #d9dee3;
      z-index: 9;
      right: 50%;
      transform: translate(50%, -5%);
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    >main {
      width: 380px;
      min-height: 665px;
      background-color: #F5F5F5;
      border-radius: 24px;

    }
  }

}

.container {
  display: grid;
  grid-template-columns: 300px auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  h1{
    font-size: 2rem;
  }
}

.ant-modal{
  .ant-modal-title{
    font-size: 24px !important;
  }
  .ant-form-item .ant-form-item-label >label{
    font-size: 16px;
    font-weight: 500;
  }
}

.ant-table {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  .ant-table-tbody tr:nth-child(even),
  .ant-table-thead tr{
    background-color: #f2f2f3;
  }
  .ant-table-tbody tr:hover{
    background-color: #f2f2f3;
  }
}